.loading {
  width: 100%;
  font-size: 1.2rem;
  color: #666;
  text-align: center;
  padding: 20px;
}

.error {
  color: var(--error);
  text-align: center;
  padding: 20px;
}

.container{ 
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.plantContainer {
  min-height: 20vh;
  max-width: 60vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 3cqh;
  border-radius: 5px;
  background-color: #efefef;
}

.plantContainer h2{ 
  font-weight: 600;
}

.plantContainer .description, .plantContainer .cientific{ 
  font-weight: 600;
  color: #797D79;
  font-size: 2cqh;
}


.plantContainer img { 
  width: 100%;
  max-width: 100%; 
  max-height: 50vh; 
  object-fit: contain; 
}

@media (max-width: 1000px ){ 
  .plantContainer{
    max-width: 100%;
  }
}