.header {
  background-color: #198754;
  width: 100%;
  position: sticky;
  z-index: 100;
  top: 0;
}

.header .navLinkActive{ 
  background-color: #fff;
  color: #000;
}


.header .mobileNav {
  display: none;
  padding-top: 2px;
}


.header .imgLogoWhiteText {
  width: 180px;
  cursor: pointer;
}


.header .navLink {
  color: #343a40;
  cursor: pointer;
  transition: color 0.3s ease;
}


.header .navLink.active {
  color: #343a40;
  background: #333;
}

.logout{ 
  color: #fff;
  cursor: pointer;
}

.header .navLink:hover {
  text-decoration: underline;
  color: #333;
}

/* Forms */

.header .buscarPlantaForm .formControl {
  border-radius: 0.25rem;
  border-color: #ced4da;
}


.header .buscarPlantaForm .formControl:focus {

  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.25);
}

.header .buscarPlantaForm .btnLight {
  background-color: #f8f9fa;
  color: #495057;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.3s ease;
}

.header .buscarPlantaForm .btnLight:hover {
  background-color: #e2e6ea;
  color: #343a40;
  border-color: #adb5bd;
}

.header .buscarPlantaForm .customBtn {
  border: 2px solid #ccd1d5;
  padding: 0.5rem 1rem;
  border-radius: 0.4rem;
}

.header .buscarPlantaForm .customBtn .iconLupa {
  width: 26px;
  height: 26px;
  margin: 0;
}


.header .buscarPlantaForm .customBtn:hover {
  border: 2px solid #a4a8ab;
  opacity: .9;
}

.inputForm {  
  width: 30vw;
  border: 1px solid #c2c2c2;

}

.desktopNav{ 
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.desktopNav button, .mobileNav button{ 
  border-radius: 100px;
    background: #fff;
    padding: 16px 32px;
    color: #1A6F3D;
    font-size: 14px;
    font-weight: 500;
    border: 1px solid;
    cursor: pointer;
}

.desktopNav button a, .mobileNav button a{ 
  color: #1A6F3D;
  font-weight: 600;
}

.closeMenu{
  display: none;
}

@media(max-width: 1024px){ 
  .desktopNav{ 
    display: none;
  }

  .header .menu{ 
    top: 0;
    left: 0;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .header .mobileNav{
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 15cqh;
    display: flex;
    height: 100%;
  }

  .header .mobileNav .navActive{ 
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .header .mobileNav nav ul{ 
    
    font-size: 3.5cqw;
  }

  .header .mobileNav .navDeactivated{ 
    display: none;
  }

 
}